/* ==========================================================================
   Style index: 
   ========================================================================== */
/* 
    0. Fonts
    1. HTML and body elments
    2. Global classes
    3. Main containers
    4. Nav
    5. Footer

    6. Inicio
    7. Sobre Pablo
    8. Terapias

    *. Media queries
*/

/* ==========================================================================
   0. FONTS
   ========================================================================== */
  /* Headers font */
  @import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');

  /* Body font */
  @import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400&display=swap');

  /* Antialiased text with CSS */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


/* ==========================================================================
   1. HTML and body elments
   ========================================================================== */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #f2ede9;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: #505050;
  line-height: 1.6em;
  letter-spacing: 0.08em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amiri', serif;
  margin: 0;
  line-height: 1.2em;
}

h1 { font-size: 3em; }
h2 { 
  font-size: 1.7em;
  color: #404c4b;
  margin-bottom: 15px;
}

/* User-select color */
::-moz-selection {
  background-color: #fff2d3;
  text-shadow: none;
}

::selection {
  background-color: #fff2d3;
  text-shadow: none;
}

a {
  text-decoration: none;
  color: #daa61a;
  font-weight: 400;
}

/* ==========================================================================
   2. Global classes
   ========================================================================== */
.page-overlay {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  pointer-events: none;
  z-index: 1000;
  display: none;
}

.text-left {
  width: 50%;
  padding-right: 50px;
}

.text-right {
  width: 50%;
  padding-left: 50px;
}

.cta {
  padding: 12px 50px;
  font-size: 0.8em;
  color: #b88d19;
  border: 1px solid #b88d19;
}

/* ==========================================================================
   3. Main containers
   ========================================================================== */
.main-container {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.normal-section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 150px 0;
}

.page-wrapp {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
  border: 1px solid red;
}

.quote-section {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 165px;
}

/* ==========================================================================
   4. Nav
   ========================================================================== */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  background-color: #f2ede9;
  z-index: 102;
}
  #menu-buttons {
    display: flex;
    justify-content: space-evenly;
  }
      .menu-button a {
        display: block;
        padding: 1px 10px;
        font-size: 0.8em;
        font-weight: 400;
        color: #4f5956;
      }
      .button-on-focus {
        border-bottom: 1px solid #cacac6;
      }
      .button-selected {
        border: 1px solid #cacac6;
      }

#quick-nav {
  position: fixed;
  bottom: 35px;
  right: 30px;
  z-index: 101;
}
  #quick-nav-buttons {
    display: flex;
    flex-direction: column;
  }
    .quick-nav-button a {
      display: block;
      width: 30px;
      height: 30px; 
      background: #f2ede9;
      border: 1px solid #ccc8c4;
      text-align: center;
    }


/* ==========================================================================
   5. Footer
   ========================================================================== */
footer {
  position: relative;
  width: 100%;
  height: 70vh;
  padding-top: 60px;
  background-color: #314658;
  background: url(../_media/bg-footer.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 99;
}

#footer-header{
  position: relative;
  margin: 0;
  padding: 0 !important;
}
  #faro-animation {
    position: absolute;
    bottom: 0;
    right: 20px; 
    width: 100px;
    height: 100%;
    border: 1px solid red;
  }
    #faro {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40px;
      height: 60px;
      background-color: red;
    }

    #boat {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 20px;
      background-color: red;
    }

.footer-info {
  color: #99cccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.footer-col {
  padding: 0 2em 2em 0;
}

#footer-external-info {
  margin-top: 30px;
  justify-content: center !important;
}
.external-icon {
  width: 35px;
  height: 35px;
  margin: 0 15px;
}
  .external-icon img {
    width: 100%;
  }

#labaula-disclaimer {
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-size: 0.8em;
  color: #54738c;
}
  #labaula-disclaimer a, #footer-politica-privacidad a{
    color: #99cccc;
    text-decoration: underline;
  }
    #labaula-disclaimer a:hover, #footer-politica-privacidad a:hover {
      color: #9effff;
    }

#footer-politica-privacidad {
  margin-top: 50px;
}

#quick-contact {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 3em;
  font-size: 0.6em;
  font-weight: 400;
  color: #4f5956;
  background-color: #f2ede9;
  border-radius: 0 10px 0 0;
  z-index: 98;
}

/* ==========================================================================
   6. Inicio
   ========================================================================== */

#inicio {
  background: url(../_media/bg-visual.jpg) no-repeat center bottom; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
}

#welcome-message {
  margin: 65vh auto;
  color: #eeeeee;
}
  #welcome-message p {
    width: 60%;
  }
 
/* ==========================================================================
   7. Sobre Pablo
   ========================================================================== */

.main-content {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.portrait {
  margin-top: 65px;
  width: 50%;
  height: auto;
}
  .portrait img {
    width: 100%;
    height: auto;
  }

.bg-decor-element {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 340px;
  background: url(../_media/bg-texture-1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

/* ==========================================================================
   8. Terapias
   ========================================================================== */
.terapia-img {
  position: absolute;
  top: 0;
  right: 5%;
  width: 485px;
  height: 440px;
  overflow: hidden;
  background-color: gray;
}
 .terapia-img img {
   width: 100%;
   height: auto;
 }

#textos-terapias {
  width: 50%;
}
.desc-terapia {
  margin-top: 60px;
}
#terapia-img-1 {
  top: 0;
}

#terapia-img-2 {
  top: 470px;
}

/* ==========================================================================
   9. Quote
   ========================================================================== */
#quote {
  background: url(../_media/bg-quote-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 80px 0;
}

#quote-bg-white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../_media/bg-quote-white-overlay.png) no-repeat center center; 
}

.quote-border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
}

#quote-border-top {
  top: 0;
  background: url(../_media/bg-quote-border-top.png) repeat-x;
}

#quote-border-bottom {
  bottom: 0;
  background: url(../_media/bg-quote-border-bottom.png) repeat-x;
}

#quote-text {
  text-align: center;
  padding: 0 180px;
}

/* ==========================================================================
   10. Formación
   ========================================================================== */
#formacion-main-content {
  margin-top: 220px;
}

#formacion-img-container {
  position: absolute;
  top: 0;
  right: 5%;
}
.formacion-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 340px;
  background-color: gray;
}
  
#formacion-img-1 {
  top: 0;
  right: 350px;
}
  
#formacion-img-2 {
  top: 0;
}

/* ==========================================================================
   *. Media queries
   ========================================================================== */

@media screen and (min-width: 1200px){
  body { font-size: 18px; }
}   

@media screen and (max-width: 850px){
  body { font-size: 13px; }

  nav { display: none; }
  #quick-nav {
    position: fixed;
    bottom: 40px;
    right: 20px;
  }
  .normal-section { padding: 40px 0; }
  .page-wrapp { padding: 0 20px; }
  #quick-contact { padding: 0 2em; }

  /* 6. Inicio - media queries */
  #welcome-message p { width: 80%; }

  /* 7. Sobre Pablo - media queries */
  .portrait {
    width: 35%;
    height: auto;
  }
  .text-right {
    width: 65%;
  }

  /* 8. Terapias - media queries */
  .terapia-img {
    position: absolute;
    top: 0;
    right: 30px;
    width: 180px;
    height: 160px;
  }
  #terapia-img-1 { top: 50px; }
  #terapia-img-2 { top: 495px; }

  #textos-terapias { width: 100%; }
  .text-left { 
    padding-right: 0;
    width: 100%;
  }

  .desc-terapia { margin-top: 150px; }

  /* 9. Quote - media queries */
  #quote-text { padding: 0 20px; }

  /* 10. Formación - media queries */
  .desc-cursos { margin-top: 80px; }

  /* 4. Footer - media queries */
  footer { height: 80vh; }
}

@media screen and (max-width: 600px){
  
}
@media screen and (max-width: 500px){

  /* 6. Inicio - media queries */
  #welcome-message { margin: 55vh auto; }

  .main-content { flex-direction: column; }
  .portrait { 
    margin-top: 0;
    width: 100%;
    height: auto;
  }
  .text-right { 
    padding-left: 0;
    width: 100%;
  }
}


