/* ==========================================================================
   Style index: 
   ========================================================================== */
/* 
    0. Fonts
    1. HTML and body elments
    2. Global classes
    3. Main containers
    4. Nav
    5. Footer

    6. Inicio
    7. Sobre Pablo
    8. Terapias

    *. Media queries
*/

/* ==========================================================================
   0. FONTS
   ========================================================================== */
  /* Headers font */
  @import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');

  /* Body font */
  @import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400&display=swap');

  /* Antialiased text with CSS */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


/* ==========================================================================
   1. HTML and body elments
   ========================================================================== */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #f2ede9;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: #505050;
  line-height: 1.6em;
  letter-spacing: 0.08em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amiri', serif;
  margin: 0;
  line-height: 1.2em;
}

h1 { font-size: 3em; }
h2 { 
  font-size: 1.7em;
  color: #404c4b;
  margin-bottom: 15px;
}

/* User-select color */
::-moz-selection {
  background-color: #fff2d3;
  text-shadow: none;
}

::selection {
  background-color: #fff2d3;
  text-shadow: none;
}

a {
  text-decoration: none;
  color: #daa61a;
  font-weight: 400;
}

/* ==========================================================================
   2. Global classes
   ========================================================================== */
.page-overlay {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  pointer-events: none;
  z-index: 1000;
  display: none;
}

.text-left {
  width: 50%;
  padding-right: 50px;
}

.text-right {
  width: 50%;
  padding-left: 50px;
}

.cta {
  position: relative;
  padding: 13px 60px;
  font-size: 14px;
  color: #b88d19;
  border: 1px solid #b88d19;
}
.cta:hover {
  color: #d3a31e;
  border: 1px solid #d3a31e;
}

.cta-arrow {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 30px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
  .cta-arrow img {
    position: absolute;
    height: 100%;
  }
  .arrow-right { left: -20px; }

/* ==========================================================================
   3. Main containers
   ========================================================================== */
.main-container {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.normal-section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 150px 0 200px;
}

.section-wrapp {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
  /* border: 1px solid red; */
}

.quote-section {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 165px;
}

/* ==========================================================================
   4. Nav
   ========================================================================== */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  background-color: #f2ede9;
  z-index: 102;
}
  #menu-buttons {
    display: flex;
    justify-content: space-evenly;
  }
      .menu-button a {
        display: block;
        padding: 1px 10px;
        font-size: 0.8em;
        font-weight: 400;
        color: #4f5956;
      }
      .button-on-focus {
        border-bottom: 1px solid #cacac6;
      }
      .button-selected {
        border: 1px solid #cacac6;
      }

.burger-button {
  display: none; 
  z-index: 200;
  position: absolute;
  top: 0;
  left: 50vw;
  transform: translateX(-30px);
  width: 60px;
  height: 30px; 
  background-color: #f2ede9;
  border-radius: 0 0 10px 10px;
  border: 1px solid #ccc8c4;
}
.burger-button img {
  width: 100%;
  height: 100%;
}

#quick-nav {
  position: fixed;
  bottom: 35px;
  right: 30px;
  z-index: 101;
}
  #quick-nav-buttons {
    display: flex;
    flex-direction: column;
  }
    .quick-nav-button {
      position: relative;
      overflow: hidden;
    }
    
    .quick-nav-button a {
      display: block;
      width: 30px;
      height: 30px; 
      background: #f2ede9;
      border: 1px solid #ccc8c4;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    .quick-nav-button a:active {
      background: #fffbf8;
    }

    .quick-nav-button a img {
      position: absolute;
      height: 100%;
    }

    .arrow-up { left: 0; }
    .arrow-down { left: -60px; }


/* ==========================================================================
   5. Footer
   ========================================================================== */
footer {
  position: relative;
  width: 100%;
  height: 70vh;
  padding-top: 60px;
  background-color: #314658;
  background: url(../_media/bg-footer.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 99;
}

#footer-header{
  position: relative;
  margin: 0;
  padding: 0 !important;
}
  #faro-animation {
    position: absolute;
    right: 60px; 
    width: 100px;
  }
    #faro {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40px;
      height: 60px;
      background-color: red;
    }

    #boat {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 20px;
      background-color: red;
    }

.footer-info {
  color: #99cccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.footer-col {
  padding: 0 2em 2em 0;
}

#footer-external-info {
  margin-top: 30px;
  justify-content: center !important;
}
.external-icon {
  width: 35px;
  height: 35px;
  margin: 0 15px;
}
  .external-icon img {
    width: 100%;
  }

#labaula-disclaimer {
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-size: 0.8em;
  color: #54738c;
}
  #labaula-disclaimer a, #footer-politica-privacidad a{
    color: #99cccc;
    text-decoration: underline;
  }
    #labaula-disclaimer a:hover, #footer-politica-privacidad a:hover {
      color: #9effff;
    }

#footer-politica-privacidad {
  margin-top: 50px;
}

#quick-contact {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 3em;
  font-size: 0.6em;
  font-weight: 400;
  color: #4f5956;
  background-color: #f2ede9;
  border-radius: 0 10px 0 0;
  z-index: 98;
}

/* ==========================================================================
   6. Inicio
   ========================================================================== */

#inicio {
  background: url(../_media/bg-visual.jpg) no-repeat center bottom; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
}

#welcome-message {
  margin: 65vh auto;
  color: #eeeeee;
}
  #welcome-message p {
    width: 60%;
  }
 
/* ==========================================================================
   7. Sobre Pablo
   ========================================================================== */

.main-content {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.portrait {
  margin-top: 65px;
  width: 50%;
  height: auto;
}
  .portrait img {
    width: 100%;
    height: auto;
  }

.bg-decor-element {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 340px;
  background: url(../_media/bg-texture-1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

/* ==========================================================================
   8. Terapias
   ========================================================================== */
#terapia-relacional {
  margin-top: 90px;
}

.terapias-img-container {
  position: absolute;
  top: -150px;
  right: 30px;
  width: 40%;
  height: auto;
}
  .terapia-img {
    margin-bottom: 30px;
  }
    .terapia-img img {
      width: 100%;
      height: auto;
    }

#textos-terapias {
  width: 50%;
}
.desc-terapia {
  margin-top: 60px;
}


/* ==========================================================================
   9. Quote
   ========================================================================== */
#quote {
  background: url(../_media/bg-quote-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 80px 0;
}

#quote-bg-white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../_media/bg-quote-white-overlay.png) no-repeat center center; 
}

.quote-border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
}

#quote-border-top {
  top: 0;
  background: url(../_media/bg-quote-border-top.png) repeat-x;
}

#quote-border-bottom {
  bottom: 0;
  background: url(../_media/bg-quote-border-bottom.png) repeat-x;
}

#quote-text {
  text-align: center;
  padding: 0 180px;
}

/* ==========================================================================
   10. Formación
   ========================================================================== */
#formacion-main-content {
  margin-top: 220px;
}

.formacion-img-container {
  position: absolute;
  display: flex;
  top: -370px;
  right: 30px;
  width: 670px;
  height: auto;
}
  .formacion-img {
    margin-left: 30px;
  }
    .formacion-img img {
      width: 100%;
      height: auto;
    }
  


/* ==========================================================================
   *. Media queries
   ========================================================================== */

@media screen and (min-width: 1200px){
  body { font-size: 17px; }
}   

@media screen and (max-width: 850px){
  body { font-size: 13px; }
  #quick-nav {
    position: fixed;
    bottom: 40px;
    right: 30px;
  }
  .normal-section { 
    padding: 55px 0;
    margin-bottom: 80px;
  }
  .section-wrapp { padding: 0 30px; }
  #quick-contact { padding: 0 2em; }
  .cta { padding: 12px 40px 12px 20px ; }
  .cta-arrow { right: 10px; }

  /* 6. Inicio - media queries */
  #welcome-message p { width: 80%; }

  /* 7. Sobre Pablo - media queries */
  .portrait {
    width: 35%;
  }
  .text-left, .text-right {
    width: 65%;
  }

  /* 8. Terapias - media queries */
  .terapias-img-container {
    width: 35%;
    top: 0;
  }

  /* 9. Quote - media queries */
  #quote-text { padding: 0 20px; }

  /* 10. Formación - media queries */
  .desc-cursos { margin-top: 80px; }
  .formacion-img-container {
    top: -285px;
    width: 580px;
    right: 0;
  }

  /* 4. Footer - media queries */
  footer { height: 80vh; }
}

@media screen and (max-width: 450px){
  nav { background-color: rgba(255, 255, 255, 0); }
  .menu-button { display: none; }
  .burger-button {
    display: block; 
  }

  /* 6. Inicio - media queries */
  #welcome-message { margin: 55vh auto; }
  .main-content { flex-direction: column; }
  .portrait { 
    margin-top: 0;
    width: 100%;
    height: auto;
  }
  .text-left, .text-right { 
    padding: 0;
    width: 100%;
  }
  .quote-section { margin-bottom: 0; }
  #formacion { padding: 0; }
  .terapias-img-container, .formacion-img-container {
    display: flex;
    width: 100%;
    top: -130px;
    right: 0;
  }
    .terapia-img, .formacion-img {
      margin-left: 7px;
    }

  #footer-external-info { margin-top: 10px; }
  #footer-header h2{
    width: 120px;
    margin-bottom: 33px;
  }
}

@media screen and (max-height: 475px){
  #contacto { height: 150vh; }
}