/* ==========================================================================
   Style index: 
   ========================================================================== */
/* 
    Global
    0. Fonts
    1. HTML and body elments
    2. Main containers
    3. Global classes
    4. Nav
    5. Footer

    Main page
    6. Inicio
    7. Sobre Pablo
    8. Terapias
    9. Quote
    10. Formación

    Inner pages
    11. Terapias individuales

    *. Media queries
*/

/* ==========================================================================
   0. FONTS
   ========================================================================== */
  /* Headers font */
  @import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');

  /* Body font */
  @import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400&display=swap');

  /* Antialiased text with CSS */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
  }


/* ==========================================================================
   1. HTML and body elments
   ========================================================================== */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #f2ede9;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: #505050;
  line-height: 1.6em;
  letter-spacing: 0.08em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amiri', serif;
  margin: 0;
  line-height: 1.2em;
}

h1 { font-size: 3em; }
h2 { 
  font-size: 1.7em;
  color: #404c4b;
  margin-bottom: 15px;
}

/* User-select color */
::-moz-selection {
  background-color: #fff2d3;
  text-shadow: none;
}

::selection {
  background-color: #fff2d3;
  text-shadow: none;
}

a {
  text-decoration: none;
  color: #daa61a;
  font-weight: 400;
}

/* ==========================================================================
   2. Main containers
   ========================================================================== */
   .page-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .normal-section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 150px 0 200px;
  }

  .special-section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 0 100px;
  }
  
  .section-wrapp {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
    /* border: 1px solid red; */
  }
  
  .quote-section {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 165px;
  }

/* ==========================================================================
   3. Global classes
   ========================================================================== */
.page-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2ede9;
  pointer-events: none;
  z-index: 1000;
}
  .page-overlay h5 {
    color: #c7c2bf;
    letter-spacing: 0.3em;
  }
  .loader{
    width: 80px;
    height: 80px;
    background-color: #cbc7c3;
  }

.key-image {
  width: 50%;
  height: auto;
}
  .key-image img {
    width: 100%;
    height: auto;
  }

.special-key-image { 
  width: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-left {
  width: 50%;
  padding-right: 50px;
}

.text-right {
  width: 50%;
  padding-left: 50px;
}

.overflow-hidden { overflow: hidden; }
.display-none { display: none; }

.cta {
  position: relative;
  padding: 13px 60px;
  font-size: 14px;
  color: #b88d19;
  border: 1px solid #b88d19;
}
.cta:hover {
  color: #d3a31e;
  border: 1px solid #d3a31e;
}

.cta-arrow {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 30px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
  .cta-arrow img {
    position: absolute;
    height: 100%;
  }
  .arrow-right { left: -20px; }

  .img-special {
    position: absolute;
    width: 40%;
    height: auto;
    
    z-index: -1;
  }
    .img-special img {
      width: 100%;
      height: auto;
    }
    .img-special-left {
      top: -15%;
      left: 100px;
    }
    .img-special-right {
      top: -15%;
      right: 100px;
    }
  
  .text-special {
    width: 50%;
    padding: 30px;
    background-color: rgba(242, 237, 233, 0.5);  
  }
    .text-special-left {
      margin-left: 10%;
    }
    .text-special-right {
      margin-left: 40%;
    }
  
  form { padding: 30px; }
  form label {
    display: inline-block;
    margin-bottom: 15px;
    color: #404c4b;
    cursor: pointer;
  }
  form input[type="radio"] {
    margin: 15px 15px 0 0;
    cursor: pointer;
  }
  .input-form {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border: 1px solid #d7d2cf;
    box-shadow: inset -5px 5px 10px -10px #797774; 
    padding: 1em;
  }
  .input-form:focus {
    border: 1px solid #afaaa7;
  }
  textarea {
    resize: none;
    line-height: 1.8em;
  }
  .cta-form {
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    margin-top: 30px;
    padding: 13px 60px !important;
  }
  .form-sent-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 250, 246, 0.9);
    z-index: 103;
  }
  .form-success-message {
    width: 35%;
    height: auto;
    background-color: #fffbf7;
    border: 1px solid #ebe8e0;
    padding: 30px;
    -webkit-box-shadow: 4px 4px 2px -5px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 2px -5px rgba(0,0,0,1);
    box-shadow: 4px 4px 2px -5px rgba(0,0,0,1);
  }

/* ==========================================================================
   4. Nav
   ========================================================================== */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 15px 0;
  background-color: #f2ede9;
  z-index: 102;
}
  #menu {
    display: flex;
    justify-content: space-evenly;
  }
    .nav-button a {
      position: relative;
      display: block;
      padding: 1px 10px;
      font-size: 0.8em;
      font-weight: 400;
      color: #4f5956;
    }
    .nav-button:hover { border-bottom: 1px solid #d4d4d4; }
    .button-selected { border: 1px solid #d4d4d4; }
    .nav-indicator {
      position: absolute;
      bottom: -10px;
      left: 46%;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: #c7a865;
    }
      
.burger-button {
  display: none; 
  position: absolute;
  top: 0;
  left: 50vw;
  transform: translateX(-30px);
  width: 60px;
  height: 30px; 
  background-color: #f2ede9;
  border-radius: 0 0 10px 10px;
  border: 1px solid #ccc8c4;
  overflow: hidden;
  z-index: 102;
}
.burger-button img {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

#quick-nav {
  position: fixed;
  bottom: 35px;
  right: 30px;
  z-index: 101;
}
  #quick-nav-buttons {
    display: flex;
    flex-direction: column;
  } 
    .quick-nav-inactive {
      opacity: 0.2;
    }
    .quick-nav-button {
      position: relative;
      overflow: hidden;
    }
    .quick-nav-button a {
      display: block;
      width: 30px;
      height: 30px; 
      background: #f2ede9;
      border: 1px solid #ccc8c4;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    .quick-nav-button a img {
      position: absolute;
      height: 100%;
    }
    .quick-nav-button a:active { background: #fffbf8; }
    .arrow-up { left: 0; }
    .arrow-down { left: -60px; }
    
.bread-crumbs-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 45px;
}
  .bread-crumbs-menu li {
    margin-right: 15px !important;
  }

/* ==========================================================================
   5. Footer
   ========================================================================== */
footer {
  position: relative;
  width: 100%;
  height: 70vh;
  padding-top: 60px;
  background-color: #314658;
  background: url(../_media/bg-footer.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 99;
}

#footer-header{
  position: relative;
  margin: 0;
  padding: 0 !important;
}
  #faro-animation {
    position: absolute;
    right: 60px; 
    width: 135px;
  }
    #faro {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 75px;
      height: 100px;
    }
      #faro img {
        width: 100%;
        height: auto; 
      }

    #boat {
      position: absolute;
      bottom: 0;
      left: 0px;
      width: 55px;
      height: 33px;
    }
      #boat img {
        width: 100%;
        height: auto; 
      }

.footer-info {
  color: #99cccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.footer-col {
  padding: 0 2em 2em 0;
}

#footer-external-info {
  margin-top: 30px;
  justify-content: center !important;
}
.external-icon {
  width: 35px;
  height: 35px;
  margin: 0 15px;
}
  .external-icon img {
    width: 100%;
  }

#labaula-disclaimer {
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-size: 0.8em;
  color: #54738c;
}
  #labaula-disclaimer a, #footer-politica-privacidad a{
    color: #99cccc;
    text-decoration: underline;
  }
    #labaula-disclaimer a:hover, #footer-politica-privacidad a:hover {
      color: #9effff;
    }

#footer-politica-privacidad {
  margin-top: 50px;
}

#quick-contact {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 3em;
  font-size: 0.6em;
  font-weight: 400;
  color: #4f5956;
  background-color: #f2ede9;
  border-radius: 0 10px 0 0;
  z-index: 98;
}

/* ==========================================================================
   6. Inicio
   ========================================================================== */

#inicio {
  background: url(../_media/bg-visual.jpg) no-repeat center bottom; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
}

#welcome-message {
  margin: 65vh auto;
  color: #eeeeee;
}
  #welcome-message p {
    width: 60%;
  }
 
/* ==========================================================================
   7. Sobre Pablo
   ========================================================================== */

.main-content {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

#retrato-pablo { margin-top: 65px; }

.bg-decor-element {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 340px;
  background: url(../_media/bg-texture-1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

/* ==========================================================================
   8. Terapias
   ========================================================================== */
#terapia-relacional {
  margin-top: 90px;
}

.terapias-img-container {
  position: absolute;
  top: -150px;
  right: 30px;
  width: 40%;
  height: auto;
}
  .terapia-img {
    margin-bottom: 30px;
  }
    .terapia-img img {
      width: 100%;
      height: auto;
    }

#textos-terapias {
  width: 50%;
}
.desc-terapia {
  margin-top: 60px;
}


/* ==========================================================================
   9. Quote
   ========================================================================== */
#quote {
  background: url(../_media/bg-quote-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 80px 0;
}

#quote-bg-white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../_media/bg-quote-white-overlay.png) no-repeat center center; 
}

.quote-border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
}

#quote-border-top {
  top: 0;
  background: url(../_media/bg-quote-border-top.png) repeat-x;
}

#quote-border-bottom {
  bottom: 0;
  background: url(../_media/bg-quote-border-bottom.png) repeat-x;
}

#quote-wrapper {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.6em;
  padding: 0 180px;
}

/* ==========================================================================
   10. Formación
   ========================================================================== */
#formacion-main-content {
  margin-top: 220px;
}

.formacion-img-container {
  position: absolute;
  display: flex;
  top: -370px;
  right: 30px;
  width: 670px;
  height: auto;
}
  .formacion-img {
    margin-left: 30px;
  }
    .formacion-img img {
      width: 100%;
      height: auto;
    }

/* ==========================================================================
   11. Terapias individuales
   ========================================================================== */
#terapias-individuales-key-image {
     background: url(../_media/keyimg-terapias-individuales.jpg) no-repeat center center; 
}
  


/* ==========================================================================
   *. Media queries
   ========================================================================== */

@media screen and (min-width: 1300px){
  body { font-size: 17px; }
}   

@media screen and (max-width: 850px){
  body { font-size: 13px; }
  #quick-nav {
    position: fixed;
    bottom: 40px;
    right: 30px;
  }
  .normal-section { 
    padding: 55px 0;
    margin-bottom: 80px;
  }
  .section-wrapp { padding: 0 30px; }
  #quick-contact { padding: 0 2em; }
  .cta { padding: 12px 40px 12px 20px ; }
  .cta-arrow { right: 10px; }

  /* 6. Inicio - media queries */
  #welcome-message p { width: 80%; }

  /* 7. Sobre Pablo - media queries */
  .key-image {
    width: 35%;
  }
  .text-left, .text-right {
    width: 65%;
  }

  /* 8. Terapias - media queries */
  .terapias-img-container {
    width: 35%;
    top: 0;
  }

  /* 9. Quote - media queries */
  #quote-wrapper { padding: 0 20px; }

  /* 10. Formación - media queries */
  .desc-cursos { margin-top: 80px; }
  .formacion-img-container {
    top: -285px;
    width: 580px;
    right: 0;
  }

  /* 4. Footer - media queries */
  footer { height: 80vh; }


  /* 11. Terapias individuales - media queries */
  #terapias-individuales-home {
    padding-top: 100px;
  }

  .text-special {
    width: 60%;
  }

  .img-special-left {
    left: 30px;
  }
  .img-special-right {
    right: 30px;
  }
}

@media screen and (max-width: 450px){
  .page-container {
    overflow-y: hidden;
  }
  
  nav { 
    display: none !important;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  #menu { 
    flex-direction: column;
    text-align: center;
  }

  .nav-button {
    font-size: 1.5em;
  }
  .nav-button a {
    padding: 10px;
  }

  .burger-button {
    display: block; 
  }

  .burger-button img {
    top: -30px;
  }

  /* 6. Inicio - media queries */
  #welcome-message { margin: 55vh auto; }
  .main-content { flex-direction: column; }
  .key-image { 
    margin-top: 0;
    width: 100%;
    height: auto;
  }
  .text-left, .text-right { 
    padding: 0;
    width: 100%;
  }
  .quote-section { margin-bottom: 0; }
  #formacion { padding: 0; }
  .terapias-img-container, .formacion-img-container {
    display: flex;
    width: 100%;
    top: -130px;
    right: 0;
  }
    .terapia-img, .formacion-img {
      margin-left: 7px;
    }

  #footer-external-info { margin-top: 10px; }
  #footer-header h2{
    width: 120px;
    margin-bottom: 33px;
  }

  #terapias-individuales-key-image { display: none; }
  .text-special { 
    width: 100%; 
    padding: 30px 0;
  }
  .text-special-left, .text-special-right {
    margin-left: 0;
  }

  .img-special { width: 50%; }
  .img-special-left, .img-special-right { top: -20%; }
  
}

@media screen and (max-height: 475px){
  #contacto { height: 150vh; }
}